n8n/email_monitoring_http_workflow.json
{
  "name": "智能邮件监控与通知 (HTTP API)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "定时触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:18888/api/check-emails",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-email-api",
      "name": "调用邮件检查API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "has-important-emails",
              "leftValue": "={{ $json.stats.important_emails }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-result",
      "name": "检查结果",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.FEISHU_WEBHOOK }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.notification }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-feishu-notification",
      "name": "发送飞书通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        240
      ]
    },
    {
      "parameters": {
        "content": "## ✅ 监控完成\n\n监控周期已完成，但没有发现重要邮件。",
        "height": 80,
        "width": 150
      },
      "id": "no-important-emails",
      "name": "无重要邮件",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.FEISHU_WEBHOOK }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg_type\": \"text\",\n  \"content\": {\n    \"text\": \"❌ 邮件监控失败\\n\\n错误: \" + $json.error\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-error-notification",
      "name": "发送错误通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "定时触发": {
      "main": [
        [
          {
            "node": "调用邮件检查API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用邮件检查API": {
      "main": [
        [
          {
            "node": "检查结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查结果": {
      "main": [
        [
          {
            "node": "发送飞书通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "无重要邮件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "email-monitoring-http",
  "meta": {
    "instanceId": "default"
  },
  "tags": [
    {
      "name": "邮件监控"
    }
  ]
}
